# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/

# Ignore build and dependencies
target/
out/
node_modules/
*.log

# Ignore OS-specific files
*.swp
*.swo

# Ignore MySQL and database-related files
*.sock
*.cnf
mysql/
